<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<header id="header">
    <nav>
        <div class="flex-box">
            <div><a href="/">Main</a></div>
            <div><a href="/login">Login</a></div>
            <div><a href="/register">Register</a></div>
        </div>
    </nav>
</header>

<label>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for flights..">
</label>
<label for="busz">Bus</label><input type="checkbox" id="busz">
<label for="vonat">Train</label><input type="checkbox" id="vonat">
<label for="repulo">Plane</label><input type="checkbox" id="repulo">
<%if (lista !== ""){%>
<ul id="myUl">
    <% lista.forEach(function (sor){
        splitter = new Date(sor.datum).toISOString().split("T")%>

    <li><a><%= sor.nev+ " | "+splitter[0]+" | "+sor.idopont+" | "+sor.tipus %></a></li>
    <%})%>
</ul>
<%}%>

<footer>©2023 MÉV-PÁRKÁNY. All rights reserved.</footer>
</body>
</html>
