<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<header id="header">
    <nav>
        <div class="flex-box">
            <div><a href="/">Main</a></div>
            <div><a href="/login">Login</a></div>
            <div><a href="/register">Register</a></div>
        </div>
    </nav>
</header>
<h1>Welcome on our Register page!</h1>
<form action="/register" method="post">
    <% if (messages.error){%>
        <div>
            <strong><%= messages.error %></strong>
        </div>
    <%}%>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="password-again">Password again:</label>
        <input type="password" name="password-again" id="password-again">
    </div>
    <button type="submit">Click to register</button>
</form>


<footer>©2023 MÉV-PÁRKÁNY. All rights reserved.</footer>
</body>
</html>
