<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<header id="header">
    <nav>
        <a href="/userprof">User Things</a>
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit" aria-current="page" id="logout">LogOut</button>
        </form>
    </nav>
</header>

<h1>Welcome <%= nev %>!</h1>
<%if (szerep === "admin"){%>
    <form action="/admin" method="post">
        <button type="submit" aria-current="page">AdminThingos</button>
    </form>
<%}%>
<%

if (lista !== ""){%>
    <ul>
    <% lista.forEach(function (sor){
        splitter = new Date(sor.datum).toISOString().split("T")%>

    <li><%= sor.nev+ " | "+splitter[0]+" | "+sor.idopont+" | "+sor.tipus %></li>
    <%})%>
    </ul>
        <%}%>
p>lorem

<%- include('footer') %>
</body>
</html>
