<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<header id="header">
    <nav>
        <a href="/userprof">User Things</a>
        <a href="/tickets">Tickets</a>
        <a href="/flightList">Flights</a>
        <%if (szerep === "admin"){%>
            <a href="/users">Users</a>
        <%}%>
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit" aria-current="page" id="logout">LogOut</button>
        </form>
    </nav>
</header>
<div class="table-wrapper">
    <table id="List">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <% lista.forEach(sor=>{

        %>

        <tr>
            <td><%= sor.nev %></td>
            <td><%= sor.email %></td>
        </tr>

        <%})%>
        </tbody>
    </table>
</div>
<%- include('footer') %>
</body>
</html>