
nav {
    display: flex;
    gap: 10pt;
    align-items: center;
    border-bottom: 5pt solid black;
    box-shadow: 10px 23px 16px 0 rgba(0,0,0,0.75);
}

nav a {
    flex: 1;
    padding: 5pt;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    font-weight: bold;
}


footer{
    bottom: 0;
    margin-top: 10pt;
    position: relative;
    text-align: center;

}
body{
    background-image: linear-gradient(to left, turquoise,#0A4D68);
    background-color: #0A4D68;
    color: white;
}

.error-message {
    color: orangered;
    font-weight: bold;
}
.success-message {
    color: greenyellow;
    font-weight: bold;
}

/* buttons */
a{
    color: turquoise;
    text-decoration: none;
    padding: 1pt;
    font-size: 20pt;
}
nav a:hover {
    color: red;
    transition: 10s right;
}
nav a:focus{
    color: red;
}
#logout{
    background-image: linear-gradient(to right,#C70039,turquoise);
    color: white;
    border:1pt solid black;
    margin-top: 20pt;
    right: 6pt;
    position: absolute;
    width: 5%;

}

button:not(#logout){
    background-image: linear-gradient(to right,#0A4D68,black);
    color: white;
    border:1pt solid black;
    padding: 10pt;
    margin-bottom: 5pt;
}

#myInput {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 20pt 6pt 12px 0;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.listing-wrapper{
    margin: 10px 70px 70px;
    text-align: center;
}

#flightList {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;

}

#flightList td, #flightList th {
    text-align: center;
    padding: 8px;

}

#flightList td {
    border-right: 1px solid #f8f8f8;
    font-size: 12pt;
}
/*Licorice #1A1110*/
#flightList thead th {
    color: #ffffff;
    background: black;
    font-weight: bold;
    font-size: 15pt;
}

#flightList tr:nth-child(even) {
    background: #36454F;
}
#flightList tr:nth-child(odd) {
    background: #2C3539;
}
input{
    margin-top: 5pt;
    margin-bottom: 5pt;
}
h1,h2,label,form{
    text-align: center;
}
iframe{
    border: none;
    width: 100%;
}




